* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE BACKGROUND */
.auth-page {
  width: 100vw;
  height: 100vh;
  background: #f4f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* AUTH CARD (NOT BIG) */
.auth-card {
  width: 850px;
  height: 460px;
  background: #fff;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
}

/* LEFT */
.auth-left {
  width: 50%;
  padding: 50px;
}

.auth-left h2 {
  font-weight: 400;
  margin-bottom: 7px;
  color: #333;
}

.auth-left label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.auth-left input {
  width: 100%;
  padding: 13px 18px;
  border-radius: 30px;
  border: none;
  color: #333;
  background: #f2f2f2;
  font-size: 14px;
  outline: none;
}

.primary-btn {
  width: 100%;
  padding: 13px;
  margin-top: 15px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #ff4b6e, #ff6a88);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.links {
  margin-top: 18px;
  font-size: 14px;
  color: #ff4b6e;
  cursor: pointer;
}

/* RIGHT */
.auth-right {
  width: 50%;
  background: linear-gradient(to bottom, #ff4b6e, #ff6a88);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-right h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.auth-right p {
  font-size: 15px;
  margin-bottom: 22px;
}

.outline-btn {
  padding: 12px 36px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.field-error {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 1px;
}

/* Success messages */
.success-msg {
  color: #52c41a;
  font-size: 0.9rem;
  margin: 4px 0;
}

::ng-deep .button:hover {
    border-color: #fff;
}

